.about {
  background-color: var(--pink);
  height: auto;
  padding-bottom: 100px;
  padding-top: 40px;
}

.about-txt-container {
  max-width: 600px;
}

.about p {
  font-family: var(--bold-font);
  font-size: 1em;
  line-height: 1.5;
}

.about-container a {
  text-decoration: none;
}

.about-hl {
  font-family: var(--mad-font);
  font-size: 4em;
  line-height: 1;
}

.team-img {
  height: 300px;
  width: 300px;
  margin-bottom: 40px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.team {
  background-image: url(./images/team.png);
}

.lisa {
  background-image: url(./images/lisa.jpg);
}

.frida {
  background-image: url(./images/frida.jpg);
}

@media (max-width: 800px) {
  .about {
    padding-left: 40px;
    padding-right: 40px;
  }
  .team-img {
    height: 300px;
    width: 300px;
  }
  .about p {
    font-family: var(--bold-font);
    font-size: 1.5em;
    line-height: 1.5;
  }
  .about-hl {
    font-size: 5em;
  }
}
