.about {
  background-color: var(--pink);
  height: auto;
  padding-bottom: 100px;
  padding-top: 40px;
}

.about-txt-container {
  max-width: 600px;
}

.about p {
  font-family: var(--bold-font);
  font-size: 1.5em;
  line-height: 1.5;
}

.contact-us p,
.contact-us a {
  text-decoration: none;
  color: #000;
  font-family: var(--bold-font);
  font-size: 1em;
  line-height: 1.7;
}
.contact-us .underlined {
  border-bottom: solid 2px #000;
  padding-bottom: 2px;
}
.contact-us .underlined:hover {
  border-bottom: solid 2px transparent;
}

.about-txt-container a {
  text-decoration: none;
}

.about-txt-container .underlined {
  border-bottom: solid 2px var(--redishpink);
  padding-bottom: 3px;
}

.about-txt-container .underlined:hover {
  border-bottom: solid 2px transparent;
}

.about-hl {
  font-family: var(--mad-font);
  font-size: 4em;
  line-height: 1;
}

.team-img {
  height: 300px;
  width: 300px;
  margin-bottom: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.team {
  background-image: url(./images/team.gif);
}

@media (max-width: 800px) {
  .about {
    padding-left: 40px;
    padding-right: 40px;
  }
  .team-img {
    height: 300px;
    width: 300px;
    margin-bottom: 40px;
  }
  .about-hl {
    font-size: 5em;
  }
}
