.arduino {
  background-image: url(./images/testbg5.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.labtxt-container-right {
  position: absolute;
  top: 15%;
  right: 20%;
}

.labtxt-container-right a {
  text-decoration: none;
  color: var(--redishpink);
  font-size: 1.5em;
}

.labnumber-hl-black {
  font-family: var(--mad-font);
  color: #000;
  font-size: 5em;
  line-height: 1;
}

.labtxt-hl-black {
  font-family: var(--bold-font);
  font-size: 2.5em;
  line-height: 1.3;
  color: #000;
}

.labinfo-black p {
  font-family: var(--bold-font);
  text-decoration: none;
  font-size: 1.3em;
  line-height: 1.5;
  color: #000;
}


@media (max-width: 1200px) {

  .labtxt-container-right {
    top: 15%;
    left: 20px;
    right: 20px;
    width: 100%;
    text-align: center;
    padding: 0 20px;
  }

  .labtxt-hl-black {
    font-size: 1.5em;
    line-height: 1.3;
  }

  .labinfo-black p {
    font-size: 1em;
    line-height: 1.5;
  }

  .labtxt-container-right a {
    font-size: 1.em;
  }


  .button {
    width: 200px;
    height: 60px;
    font-size: 1em;
  }
}
