.arduino {
  background-image: url(./images/arduino-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.background-img img,
video {
  width: 100vw;
  position: relative;
}

.labtxt-container-black {
  position: absolute;
  top: 15%;
  max-width: 600px;
}

.labtxt-container-black a {
  text-decoration: none;
  color: #000;
}

.labnumber-hl-black {
  font-family: var(--mad-font);
  color: #000;
  font-size: 5em;
  line-height: 1;
}


.labtxt-hl-black {
  font-family: var(--bold-font);
  font-size: 2.5em;
  line-height: 1.3;
  color: #000;
}

.redishpink {
  color: var(--redishpink);
}

.labtxt-container-black p {
  font-family: var(--bold-font);
  text-decoration: none;
  text-align: center;
  font-size: 1.2em;
  line-height: 1.5;
  color: #000;
  margin-top: 30px;
}

.button {
  width: 300px;
  height: 60px;
  font-family: var(--bold-font);
  font-size: 1em;
  border: solid 2px var(--redishpink);
}

@media (max-width: 768px) {
  .arduino {
    height: 170vh;
  }

  .labtxt-container-black {
    top: 10%;
  }

  .labtxt-hl-black {
    font-size: 2em;
    padding: 0 40px;
  }

  .labtxt-container-black p {
    font-size: 1.5em;
    padding: 0 40px;
  }

  .button {
    width: 200px;
  }
}

@media (max-width: 412px) {
  .arduino {
    height: 130vh;
  }
}

@media (max-width: 376px) {
  .prelaunch {
    height: 130vh;
  }
}

@media (max-width: 322px) {
  .arduino {
    height: 200vh;
  }
}

@media (max-height: 641px) {
  .arduino {
    height: 160vh;
  }
}
