.footer {
  height: 620px;
  background-image: url(./images/testbg9.png);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;

  position: relative;
}

.footer a {
  text-decoration: none;
}

.email-us {
  font-family: var(--bold-font);
  font-size: 1em;
  padding-bottom: 5px;
  line-height: 1;
  border-bottom: solid 2px #000;
  margin-bottom: 40px;
}

.email-us:hover {
  border-bottom: solid 2px transparent;
}

.ftt {
  position: absolute;
  top: 40px;
}

.footer-socialLinks a {
  margin: 10px;
}
.footer-socialLinks img {
  max-width: 50px;
}
