.banner {
   box-shadow: 0 0 4px 0px rgba(65, 65, 65, 0.5);
   font-family: var(--bold-font);
   height: 50px;
   background-color: var(--turqoise);
   padding-left: 25%;
}

.close-tag {
  width: 20px;
  height: 100%;
  background-image: url(./images/closing-x.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}


.banner.hidden {
  display: none;
}


@media (max-width: 420px) {
  .banner {
    padding: 15px 15px;
    height: auto;
  }

}
