.header {
  background-color: var(--pink);
  height: 400px;
}

.mobile-menu {
  display: none;
}

.desktop-menu {
  display: block;
}

.nav a {
  text-decoration: none;
}

.nav-item {
  font-family: var(--bold-font);
  font-size: 1em;
  margin-left: 10px;
  margin-right: 10px;
  padding-bottom: 5px;
  line-height: 1;
  border-bottom: solid 2px #000;
}

.nav-item:hover {
  border-bottom: solid 0 #000;
}

.logo {
  text-align: left;
  font-family: var(--mad-font);
  font-size: 6em;
  line-height: 1;
}

@media (max-width: 1300px) {
  .mobile-menu {
    display: block;
    font-family: var(--bold-font);
    font-size: 1em;
    line-height: 1;
    padding-bottom: 5px;
  }
  .underlined {
    border-bottom: solid 2px #000;
  }
  .underlined:hover {
    border-bottom: solid 0 #000;
  }
  .desktop-menu {
    display: none;
  }
}

@media (max-width: 1085px) {
  .header {
    height: 500px;
  }
  .logo {
    margin-bottom: 20px;
  }
}

@media (max-width: 900px) {
  .header {
    background-color: var(--pink);
    height: 400px;
  }
  .logo {
    font-size: 5em;
  }
}

@media (max-width: 800px) {
  .header {
    padding: 40px 40px;
    height: 350px;
  }
}
@media (max-width: 769px) {
  .header {
    padding: 40px 40px;
    height: 400px;
  }
}
@media (max-width: 640px) {
  .logo {
    font-size: 4em;
  }
}
@media (max-width: 530px) {
  .logo {
    font-size: 3.5em;
  }
  .header {
    height: 360px;
  }
}

@media (max-width: 450px) {
  .header {
    padding-left: 20px;
    padding-right: 20px;
    height: 250px;
  }
  .mobile-menu {
    margin-bottom: 50px;
  }
  .logo {
    font-size: 3em;
  }
  .mobile-menu {
    padding: 0;
  }
}
@media (max-width: 350px) {
  .logo {
    font-size: 2.5em;
  }
}
