.banner {
   box-shadow: 0 0 5px 0px rgba(65, 65, 65, 0.5);
   font-family: var(--bold-font);
   height: auto;
   background-color: var(--turqoise);
   padding: 10px 5%;
   z-index: 3;
}

/* .close-tag {
  width: 20px;
  height: 100%;
  background-image: url(./images/closing-x.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
} */


.banner.hidden {
  display: none;
}


@media (max-width: 420px) {
  .banner {
    padding-left: 5px;
    padding-right: 5px;
  }

}
