.hero {
  background: var(--pink);
  position: relative;
}

.hero-quote {
  max-width: 800px;
  font-family: var(--bold-font);
  font-size: 6em;
  line-height: 1.2;
  text-align: left;
}

.arduino-img {
  background-image: url(./images/arduino.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  bottom: 150px;
  right: 50px;
  width: 300px;
  height: 300px;
}

.chip-img {
  background-image: url(./images/chip.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 20px;
  right: 250px;
  width: 120px;
  height: 120px;
}


@media (max-width: 1200px) {
  .hero {
    padding: 0;
    height: 80vh;
  }

  .hero-quote {
    padding: 20px;
    font-size: 3em;
    line-height: 1.2;
    position: absolute;
    top: 15%;
  }

  .arduino-img {
    bottom: 80px;
    right: 50px;
    width: 200px;
    height: 200px;
  }

  .chip-img {
    top: 0px;
    left: 100px;
    width: 120px;
    height: 120px;
  }
}
