.hero {
  background: var(--pink);
  position: relative;
  height: 600px;
}

.hero-quote {
  max-width: 800px;
  font-family: var(--bold-font);
  font-size: 5em;
  line-height: 1.2;
  text-align: left;
}

.arduino-img {
  background-image: url(./images/arduino.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  bottom: 40px;
  right: 80px;
  width: 200px;
  height: 200px;
}

.chip-img {
  background-image: url(./images/chip.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 50px;
  right: 170px;
  width: 100px;
  height: 120px;
  transform: rotate(50deg);
}



@media (max-width: 800px) {
  .hero {
    padding-left: 20px;
    padding-right: 20px;
  }
  .hero-quote {
    font-size: 4em;
  }
}

@media (max-width: 540px) {
  .hero {
    padding-left: 20px;
    padding-right: 20px;
    height: 500px;
  }
  .hero-quote {
    font-size: 2.7em;
  }
  .chip-img {
    top: 0px;
    right: 150px;
    width: 80px;
  }
  .arduino-img {
    bottom: 10px;
    right: 20px;
    height: 130px;
  }
}

@media (max-width: 330px) {
  .hero {
    height: 450px;
  }
  .hero-quote {
    font-size: 2.4em;
  }
  .chip-img {
    top: 0px;
    right: 100px;
    width: 80px;
  }
  .arduino-img {
    bottom: 10px;
    right: 20px;
    height: 110px;
  }
}
