.download-bg {
  width: 100vw;
  height: 100vh;
  background-color: #69e0c2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.download {
  font-family: var(--bold-font);
  font-size: 3em;
  line-height: 1.4;
  text-decoration: none;
}
.download-span {
  border-bottom: solid 5px black;
  padding-bottom: 5pt;

}
