:root {
  --pink: #f5e6e8;
  --redishpink: #ff5267;
  --lightblue: #bdf0fd;
  --turqoise: #69e0c2;
  --lightyellow: #faffd8;
  --grey: #e7e7e1;

  --book-font: "CircularStd-Book.woff", sans-serif;
  --bold-font: "CircularStd-Bold.woff", sans-serif;
  --black-font: "CircularStd-Black.woff", sans-serif;
  --mad-font: "mad-sans-black.woff", sans-serif;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

a {
  color: black;
}

ol,
ul {
  list-style: none;
}
