:root {
  --pink: #F5E6E8;
  --redishpink: #FF5267;
  --lightblue: #BDF0FD;
  --turqoise: #69E0C2;
  --lightyellow: #FAFFD8;
  --grey: #E7E7E1;

}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

* {
  box-sizing: border-box;
}
