.machinelearning {
  position: relative;
  background-image: url(./images/dance.gif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 1000px;
}

.background-img img,
video {
  width: 100vw;
  position: relative;
}

.labtxt-container {
  position: absolute;
  top: 15%;
  max-width: 400px;
}

.labtxt-container a {
  text-decoration: none;
}

.labnumber-hl {
  font-family: var(--mad-font);
  color: #fff;
  font-size: 5em;
  line-height: 1;
}

.labtxt-hl {
  font-family: var(--bold-font);
  font-size: 2.5em;
  line-height: 1.2;
  color: #fff;
}

.redishpink {
  color: var(--redishpink);
}
.turqoise {
  color: var(--turqoise);
}

.labtxt-container p {
  font-family: var(--bold-font);
  text-decoration: none;
  font-size: 1.2em;
  line-height: 1.5;
  color: #fff;
  margin-top: 30px;
}

.labtxt-container .button {
  width: 300px;
  height: 60px;
  border: solid 2px var(--redishpink);
  font-family: var(--bold-font);
  color: #fff;
  font-size: 1em;
}
.white {
  color: white;
}
@media (max-width: 768px) {
  .machinelearning {
    padding-left: 40px;
    padding-right: 40px;
    height: 1300px;
  }
  .labtxt-container {
    top: 10%;
  }
  .labtxt-container p {
    font-size: 1.5em;
  }
  .labtxt-container .button {
    width: 200px;
    margin-left: 0;
  }
}

@media (max-width: 450px) {
  .machinelearning {
    background-position: left;
    height: 1500px;
    padding-left: 40px;
    padding-right: 40px;
  }
  .labtxt-container {
    top: 10%;
    padding-right: 20px;
  }
  .labnumber-hl {
    font-size: 4em;
  }
}

@media (max-width: 350px) {
  .machinelearning {
    height: 1500px;
  }
}
