.prelaunch {
  position: relative;
  background-image: url(./images/dance.gif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  height: 1200px;
}


.background-img img,
video {
  width: 100vw;
  position: relative;
}

.labtxt-container {
  position: absolute;
  top: 15%;
  max-width: 500px;
}

.labtxt-container a {
  text-decoration: none;
}

.labnumber-hl {
  font-family: var(--mad-font);
  color: #fff;
  font-size: 5em;
  line-height: 1;
}

.labtxt-hl {
  font-family: var(--bold-font);
  font-size: 2.5em;
  line-height: 1.2;
  color: #fff;
}

.redishpink {
  color: var(--redishpink);
}

.labtxt-container p {
  font-family: var(--bold-font);
  text-decoration: none;
  font-size: 1.2em;
  line-height: 1.5;
  color: #fff;
  margin-top: 30px;
}

.button {
  width: 300px;
  height: 60px;
  border: solid 2px var(--redishpink);
  font-family: var(--bold-font);
  color: #fff;
  font-size: 1em;
}

@media (max-width: 768px) {
  .prelaunch {
    padding-left: 40px;
    padding-right: 40px;
  }

  .labnumber-hl-black {
      padding: 0 40px;
  }

  .labtxt-container-black {
    top: 10%;
  }

  .labtxt-hl-black {
    font-size: 2em;
    padding: 0 40px;
  }

  .labtxt-container-black p {
    font-size: 1.5em;
    padding: 0 40px;
  }

  .button {
    width: 200px;
  }
}

@media (max-widht: 450px) {
  .prelaunch {
    margin-left: 20px;
    margin-right: 20px;
  }

  .labnumber-hl-black {
      padding: 0 20px;
  }

  .labtxt-container-black {
    top: 10%;
  }
  .button {
    margin-left: 20px;
  }


}
