.menu {
  background-color: var(--pink);
  padding-top: 30px;
}

.mobile-view-menu {
  display: none;
}


.menu a,
.menu h2,
.signup-button h2,
.signtup-button a {
  font-family: var(--bold-font);
  text-decoration: none;
  text-align: center;
  font-size: 1.3em;
}

.box {
  background-color: var(--redishpink);
}

.menu-container {
  border: solid 2px black;
  max-width: 1800px;
}

.labinfo-row {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

.labinfo,
.place,
.date {
  padding: 2vh 2vw;
  width: auto;
}

.border-right {
  border-right: solid 2px black;
}

.border-top {
  border-top: solid 2px black;
}

.border-left {
  border-left: solid 2px black;
  align-self: flex-end;
}

.long-line,
.short-line1,
.short-line2 {
  width: 100px;
  height: 1px;
  background-color: #000;
}

.signup-button {
  text-align: center;
  width: 400px;
  padding: 2vh 2vw;
  align-self: right;
  background: var(--redishpink);
  border-left: solid 2px black;
  border-right: solid 2px black;
  border-bottom: solid 2px black;
}




@media (max-width: 1200px) {
  .desktop-view-menu {
    display: none;
  }

  .mobile-view-menu {
    display: block;
    line-height: 1;
  }

  .mobile-view-menu a {
    display: block;
  }

  .box-mobile {
    border: solid 2px #000;
    padding: 20px 35px;
    width: auto;

  }

  .redishpink-bg {
    background-color: var(--redishpink);
  }

  .menu {
    height: auto;
    padding-bottom: 80px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .menu a,
  .menu h2,
  .signup-button h2,
  .signtup-button a {
    font-size: 1em;
  }
}
