.hero-menu {
  background-color: var(--pink);
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: left;
}

.hero-menu-item {
  border: solid 1px #000;
}

.hero-menu-container {
  border: solid 1px #000;
}


.hero-menu-container a {
  font-family: var(--bold-font);
  text-decoration: none;
  font-size: 1.5em;
  line-height: 1;
}


.fab-bg {
  background-color: #FFAABB;
}

.redishpink-bg {
  background-color: var(--redishpink);
}


.signup-button {
  border-left: solid 2px black;
  border-right: solid 2px black;
  border-bottom: solid 2px black;
  text-align: center;
}

.signup-button a {
  font-family: var(--bold-font);
  text-decoration: none;
  font-size: 1.5em;
  line-height: 1;
}


@media (max-width: 769px) {
  .hero-menu {
    padding-left: 20px;
    padding-right: 20px;
  }

  .hero-menu-container a {
    font-size: 1em;
  }

  .signup-button {
    width: 60%;
  }

  .signup-button a {
    font-size: 1em;
  }

}
