.newbieIsFor-hl {
  max-width: 800px;
  font-size: 3em;
  font-family: var(--bold-font);
}

@media (max-width: 769px) {
  .newbieIsFor {
    padding-left: 40px;
    padding-right: 40px;
  }
  .newbieIsFor-hl {
    max-width: 800px;
    font-size: 2em;
    font-family: var(--bold-font);
  }
}
