.newsletter {
  background-color: var(--pink);
}

.newsletter h1 {
  font-family: var(--mad-font);
  font-size: 3em;
  line-height: 1;
  margin-bottom: 30px;
}

.hand-emoji {
  font-size: 3em;
  margin-bottom: 30px;
}

.newsletter-signup {
  max-width: 500px;
}

.newsletter-signup p {
  color: #000;
  font-family: var(--bold-font);
  font-size: 1.5em;
  line-height: 1.5;
  margin-bottom: 30px;
}

.signup-form {
  max-width: 500px;
  margin-top: 40px;
}

.signup-field {
  width: 500px;
  height: 50px;
  font-family: var(--bold-font);
  font-size: 1.2em;
  padding: 0 10px;
  outline: none;
  margin-bottom: 30px;
  border: none;
}

input::placeholder {
  font-family: var(--bold-font);
  font-size: 1em;
  line-height: 1;
  text-align: center;
}

.submit {
  width: 300px;
  height: 60px;
  font-family: var(--bold-font);
  font-size: 1em;
  border: solid 2px var(--redishpink);
  background: none;
}

@media (max-width: 800px) {
  .newsletter {
    padding-left: 40px;
    padding-right: 40px;
  }
  .submit {
    width: 200px;
  }
  .signup-field {
    width: 300px;
  }
}

@media (max-width: 800px) {
  .signup-field {
    width: 280px;
  }
}
