.newsletter {
  background-color: var(--pink);
}

.newsletter h1 {
  font-family: var(--mad-font);
  font-size: 3em;
  line-height: 1;
  margin-bottom: 30px;
}

.hand-emoji {
  font-size: 0.5em;
}

.newsletter-signup {
  max-width: 800px;
}

.newsletter-signup p {
  color: #000;
  font-family: var(--bold-font);
  font-size: 1.2em;
  line-height: 1.5;
  margin-bottom: 30px;
}
