.partner {
  background-image: url(./images/testbg7.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.partner-container {
  max-width: 600px;
  padding: 60px;
  background-color: var(--lightyellow)
}

.partner-hl {
  font-family: var(--mad-font);
  font-size: 4em;
  margin-bottom: 80px;
  border-bottom: solid 2px black;
  padding-bottom: 50px;
}

.partnerinfo p {
  font-family: var(--bold-font);
  font-size: 18px;
  line-height: 1.5;
}
