.partner {
  background-image: url(./images/testbg7.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  height: 900px;
}

.partner-container {
  max-width: 600px;
  padding: 60px;
  background-color: var(--lightyellow)
}

.partner-hl {
  font-family: var(--mad-font);
  font-size: 4em;
  margin-bottom: 80px;
  border-bottom: solid 2px black;
  padding-bottom: 50px;
}

.partnerinfo p {
  font-family: var(--bold-font);
  font-size: 1.5em;
  line-height: 1.5;
  margin-bottom: 40px;
}

.partnerinfo a {
text-decoration: none;
}

.partnerinfo .underlined {
  padding-bottom: 3px;
  border-bottom: solid 2px var(--redishpink);
}

.partnerinfo .underlined:hover {
  padding-bottom: 3px;
  border-bottom: solid 2px transparent;
}

@media (max-width: 800px) {

  .partner-hl {
    font-size: 3em;
    margin-bottom: 50px;
    padding-bottom: 40px;
  }
}

@media (max-width: 660px) {
  .partner-container {
    width: 85%;
    padding: 30px;
  }
  .partnerinfo p {
    font-size: 1.2em;
  }
  .partner-hl {
    font-size: 2.5em;
    margin-bottom: 60px;
  }
}

@media (max-width: 350px) {
  .partnerinfo p {
    font-size: 1em;
  }
  .partner-hl {
    font-size: 2em;
    margin-bottom: 60px;
  }
}
