.this-is-newbie {
  background-color: #fff;
}

.this-is-hl {
  font-family: var(--bold-font);
  font-size: 3em;
  line-height: 1;
  margin-bottom: 100px;
  margin-top: 50px;
}

.icons-box {
  padding: 0 40px;
}

.icon {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 60%;
  height: 60px;
  margin-left: 16px;
  margin-left: 16px;
  margin-bottom: 30px;
  max-width: 1800px;
}

.icons h2 {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
  font-family: var(--mad-font);
  font-size: 2em;
  line-height: 1.2;
  text-align: left;
  letter-spacing: -1px;
  margin: 0;
}

.text-bg {
  background-color: var(--pink);
}

.icons p {
  font-family: var(--bold-font);
  font-size: 1em;
  line-height: 1.5;
  margin-top: 30px;
}

.hands-on-img {
  background-image: url(./images/hands-on-icon.png);
}

.collab-img {
  background-image: url(./images/collaborative-icon.png);
}

.analogue-img {
  background-image: url(./images/analogue-digital-icon.png);
}

.curated-img {
  background-image: url(./images/curated-icon.png);
}



@media (max-width: 1300px) {
  .icons-box {
    width: 50%;
  }

  .icons p {
    line-height: 1.5;
    margin-bottom: 40px;
  }

  .icons h2 {
    font-size: 2em;
  }
}

@media (max-width: 1200px) {
  .this-is-newbie {
    padding: 20px;
  }
  .this-is-newbie {
    padding-bottom: 100px;
  }
  .icon {
    width: 100%;
    height: 80px;
  }
}

@media (max-width: 768px) {
  .icons-box {
    width: 100%;
  }
  .icon {
    width: 100%;
    height: 80px;
    margin-bottom: 20px;
  }
  .icons p {
    font-size: 1.5em;
  }

}

@media (max-width: 500px) {
  .this-is-hl {
    font-family: var(--bold-font);
    font-size: 4em;
    line-height: 1;
    margin-bottom: 50px;
  }
  .icons {
    display: flex;
    flex-direction: column;
    padding: 0 40px;
  }
  .icons-box {
    padding: 0;
    width: 100%;
  }
  .icon {
    margin: 40px 0;
  }
}

@media (max-width: 370px) {
  .icons h2 {
    font-size: 2em;
  }
}
